.container {
    max-width: 800px;
    max-height: 800px;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex: 1 0 auto;
}
.cell {
    flex: 1 0 auto;
    aspect-ratio: 1 / 1;
}
.sketched {
    background-color: aqua;
}